# Application Environment
NODE_ENV=development# Optional

# Squid Proxy Configuration
SQUID_HOST=127.0.0.1# Optional
SQUID_PORT=3128# Optional

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=123

# Enable cluster mode for the server (default: false)
# CLUSTER_MODE=false

# Enable Sentry analytics (default: true)
# SENTRY_ENABLED=true

# Custom log format (e.g., json, simple). If not set, a default format will be used.
# LOG_FORMAT=%ts.%03tu %6tr %>a %Ss/%03>Hs %<st %rm %ru %[un %Sh/%<a %mt

