services:
#  bunsqstat_client:
#    image: ghcr.io/francyfox/bunsqstat:v0.24.0
#    container_name: bunsqstat-client
#    restart: unless-stopped
##    deploy:
##      resources:
##        limits:
##          memory: 100M # Sets a memory limit of 512 megabytes
##        reservations:
##          memory: 100M # Guarantees a minimum of 256 megabytes
#    ports:
#      - "80:80"      # Web interface
#      - "6379:6379"
#    environment:
#      SQUID_LISTENERS: "0.0.0.0:5140"
#      REDIS_PASSWORD: "123"
#    healthcheck:
#      test: ["CMD", "curl", "-f", "http://localhost/api/health"]
#      interval: 30s
#      timeout: 10s
#      retries: 3
#      start_period: 30s
#    depends_on:
#      - squid
#    networks:
#      - squid-net

  redis:
    container_name: redis-bunsqstat
    image: redis/redis-stack:7.2.0-v18
    restart: unless-stopped
    ports:
      - "6379:6379"
    environment:
      - ALLOW_EMPTY_PASSWORD=false
      - REDIS_AOF_ENABLED=no
      - REDIS_PASSWORD=123
    command: redis-server ./redis-stack.conf --requirepass 123
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
    volumes:
      - ./docker/redis/redis.conf:/redis-stack.conf
      - predis_data:/data
      - ./dump/dump.rdb:/dump.rdb
    networks:
      local:
##
  squid:
    user: "3128:3128"
    image: ghcr.io/b4tman/squid-ssl-bump:latest
    container_name: squid-proxy
    restart: unless-stopped
    ports:
      - "3128:3128"
      - "3129:3129"
    volumes:
      - ./docker/ssl:/etc/squid/ssl/
      - ./docker/squid.conf:/etc/squid/conf.d/squid.conf:ro
      - ./docker/passwd:/etc/squid/passwords:ro
      - ./logs:/var/log/squid
    environment:
      - SQUID_CONFIG_FILE=/etc/squid/conf.d/squid.conf
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    networks:
      - squid-net
#
#  squidanalyzer:
#    image: coun/squidanalyzer:latest
#    container_name: squidanalyzer
#    restart: unless-stopped
#    ports:
#      - "8080:8090"  # Web interface для SquidAnalyzer
#    volumes:
#      - ./logs:/var/log/squid:ro  # Логи Squid только для чтения
#      - squidanalyzer_data:/var/www/html  # Данные отчетов
#      - ./docker/squidanalyzer.conf:/etc/squidanalyzer/squidanalyzer.conf:ro
#    depends_on:
#      - squid
#    networks:
#      - squid-net
#    environment:
#      - TZ=Asia/Almaty
#      - LANG=ru_RU
#      - LOGIN=admin
#      - PASS=123456
#      - LOCALE=ru_RU
#      - PATHLOGS=/var/log/squid/access.log
#    command: >
#      chmod -R 755 /var/www/html

volumes:
  predis_data:
  squidanalyzer_data:

networks:
  local:
  squid-net:
    driver: bridge
  dozzle:
    driver: overlay