@import "./assets/colors.pcss";
@import "./assets/rainbox.pcss";

:root {
	--font-mono:
		"Fira Code", "SF Mono", "Monaco", "Inconsolata", "Fira Mono",
		"Droid Sans Mono", "Source Code Pro", "Consolas", "Courier New", monospace;
	--font-sans:
		"Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Helvetica Neue", "Arial", sans-serif;
}

html,
body,
.n-config-provider,
#app,
.n-layout {
	height: 100%;
}

.n-layout {
	background: transparent;
}

body {
	font-family: var(--font-sans);
	background: var(--c-bg-dark);
	color: var(--text);
}
