:root {
    --bg: #2b2b2b;
    --text: #A9B7C6;
    --purple: rgba(232, 121, 249, 0.1);
    --blue: rgba(96, 165, 250, 0.1);
    --green: rgba(94, 234, 212, 0.1);
    --animationtime: 45s;
    --length: 25;
    --c-bg-light: #252E42;
    --c-bg-dark: #161C2E;
}